body {
  font-family: "Arial", "Verdana";
  background: #000000;
  color: #ffffff;
  margin: 20px 20px 0px 20px;
}

body div {
  min-height: 125px;
  padding: 20px;
  border: solid #ffffff;
  border-width: 3px;
}

h1 {
  font-size: 42px;
  text-align: center;
  padding: 15px;
}

div h2 {
  font-size: 30px;
  color: #0d0d0d;
}

p {
  font-size: 24px;
  padding: 10px 0px 0px 10px;
}

img {
  width: 250px;
  border: dashed 10px #ffffff;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.introduction {
  border: solid #ffffff;
  border-radius: 15px;
  margin: 15px 0px 0px 0px;
  line-height: 2;
}

.red {
  background: #ff0000;
  text-align: right;
  margin: 0px 0px 0px 50px;
  border: solid #ffffff;
  border-width: 0px 0px 2px 5px;
}

.blue {
  background: #0000ff;
  text-align: left;
  margin: 0px 50px 0px 0px;
  border: solid #ffffff;
  border-width: 2px 5px 0px 0px;
}

.blue p {
  color: #c4c4c4;
}
.blue h2 {
  color: #c4c4c4;
}

.yellow {
  background: #ffff00;
  text-align: right;
  margin: 0px 0px 0px 50px;
  border: solid #ffffff;
  border-width: 0px 0px 2px 5px;
}

.yellow p {
  color: #707070;
}

.green {
  background: #008500;
  text-align: left;
  margin: 0px 50px 0px 0px;
  border: solid #ffffff;
  border-width: 2px 5px 0px 0px;
}

footer {
  background: linear-gradient(
    90deg,
    #000000 0%,
    #0000ff 25%,
    #0066ff 70%,
    #000000 100%
  );
  border: solid 5px #ffffff;
}

footer p {
  font-size: 20px;
  text-align: right;
  padding: 15px 15px 15px 0px;
}
